.playerWrapper {
  video {
    background: black;
  }

  table {
    position: fixed;
    z-index: 1000;
    background: white;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}